* {
    text-decoration: none;
    box-sizing: border-box;
}
.nav-links {
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.left-side {
    align-items: center;
    justify-content: space-between;
    font-size: large;
    margin-left: 40px;
}

.left-side a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 30px;
}
.right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.right-side a {
    position: relative;
    border-radius: 35px;
    background: #4a3299;
    color: white;
    margin-right: 15px;
    font-size: small;
    padding: 10px 24px;
    transition: transform 0.3s ease-in;
    font: large;
    font-family:monospace
}

.right-side p {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
}

.right-side a:hover {
    transition: 0.2s ease-in;
    background-color: #5337ad;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 25px;
}

.left-sd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-left: 15px;
}

.left-sd a {
    font: bolder;
    font-size: larger;
}

.right-sd {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: #fff;
}

.right-sd a {
    color: inherit;
    text-decoration: underline 0.12em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
    margin-right: 20px;
    font-size: small;
}

.right-sd a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.text {
    position: relaive;
    margin-top: -40%;
    color: #fff;
}
.text a{
    display: flex;
}
.text h1 {
    text-align: left;
    color: #fff;
    font-size: 100px;
    font: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    display: flex;
    width: 100%
}

.text p {
    color: white;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #000000;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(0, 0, 0);
    border-left: none; 
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #1b1f22;
  }
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  table,tr,th,td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    color: #fff;
  }
  th,td{
    padding: 20px;
  }
  table {
    background-color: rgb(29, 18, 18);
    width: 100%
  }
.nav {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
video {
    height: fit-content;
    width: 100%;
}
span {
    color: black;
}
marquee{
    color: black;
}
ul{
    color: rgb(10, 9, 9);
    background: rgb(240, 248, 248);
    padding: 10px;
}